<!DOCTYPE html>
<html>
<head>
    <title>Movie web app</title>
    <script src="{{ url_for('static', filename='search.js') }}" defer></script>
    <script src="{{ url_for('static', filename='review.js') }}" defer></script>
</head>
<body>
    <h1>Search Movies</h1>
    <input type="text" oninput="handleSearch(event)" placeholder="Type a movie name...">
    <div id="results"></div>

    <form id="review">
        <h2>Give a review</h2>
        <input type="number" name="movieId" placeholder="movieId" required>
        <input type="number" name="rating" min="1" max="10" placeholder="rating" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>


