<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="GET" action="/search">
    <input type="text" name="query" placeholder="Search for movie" required>
    <button type="submit">Search</button>
  </form>
  <h1>Results for "{{ query }}"</h1>
  {% if query %}
        <h2>Results for "{{ query }}"</h2>
        {% if results %}
            <ul>
                {% for title, year in results %}
                    <li>{{ title }} ({{ year }})</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No movies found.</p>
        {% endif %}
    {% endif %}
</body>
</html>